#qui {
    display: flex;
    align-items: center;
}







@media (max-width: 575px){
    #qui {
        padding: 120px 0;
        flex-direction: column;
        height: unset!important;
    }

    .text-adenture{
        padding: 0 15px;
        text-align: center;
    }

    .text-adenture h2{
        margin-bottom: 10px;
    }

    .text-adenture p{
        color: #969696;
    }

    .Tyro{
        color: #0500FF;
    }

    .nbr-player {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    .player-item {
        margin: 0 20px; 
        position: relative;
        color: #969696; 
    }
    
    .player-number {
        font-size: 2rem; 
        font-weight: bold;
        color: white; 
    }
    
    .player-label {
        font-size: 0.8rem; 
        color: #969696; 
    }
    
    .player-item::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: #1611FF; 
    }
    
    .btn-adenture {
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }

    #btn-default {
        background-color: #525252;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    i {
        margin: 0 10px;
        font-size: 15px;
    }

    #btn-how {
        background-color: #1611FF;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    .img-adenture {
        margin-top: 30px;
        width: 350px;
    }

}