#qui {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text-adventure {
    text-align: left;
    padding-right: 190px;
}


.text-adventure h2{
    margin-bottom: 20px;
    font-size: 52px;
    font-weight: 600;
}

.text-adventure p{
    color: #969696;
    font-size: 19px;
    font-weight: 400;
}

.Tyro{
    color: #0500FF;
}

.nbr-player {
    display: flex;
    padding: 20px;
}

.player-item {
    margin: 0 20px;
    position: relative;
    color: #969696;
    padding-right: 30px;
    line-height: 16px;
    padding-top: 23px;
}

.player-number {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-style: italic;
}

.player-label {
    font-size: 0.8rem;
    color: #969696;
}

.player-item::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #1611FF;
}

.btn-adventure {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


i {
    margin-left: 5px;
    font-size: 20px;
}

@media (max-width: 1200px) {
    #qui{
        display: block;
        height: unset;
        padding: 120px 0;
      }

      .text-adventure {
        width: 100%;
        margin: unset;
      }

      .img-adventure {
        margin-top: 50px;
        width: 100%;
        max-width: 600px;
        margin: 40px auto;
      }

}

@media (max-width: 878px) {

      .text-adventure {
        width: 100%;
        padding: unset;
      }

      .img-adventure {
        width: 100%;
        max-width: 600px;
        margin: 40px auto;
        padding-right: 55px;
      }
}


@media (max-width: 575px){
    #qui {
        padding: 120px 0;
        flex-direction: column;
        height: unset!important;
    }

    .text-adventure{
        padding: 0 15px;
        text-align: center;
    }

    .text-adventure h2{
        margin-bottom: 20px;
        font-size: 30px;
    }

    .text-adventure p{
        color: #969696;
    }

    .Tyro{
        color: #0500FF;
    }

    .nbr-player {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .player-item {
        margin: 0 20px;
        position: relative;
        color: #969696;
        line-height: 16px;
        padding-top: 23px;
    }

    .player-number {
        font-style: italic;
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }

    .player-label {
        font-size: 0.8rem;
        color: #969696;
    }

    .player-item::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: #1611FF;
    }

    .btn-adventure {
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }

    #btn-default {
        background-color: #525252;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    i {
        margin: 0 10px;
        font-size: 15px;
    }

    #btn-how {
        background-color: #0602BC;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    .img-adventure {
        margin-top: 30px;
        width: 350px;
    }

}

.img-adventure {
    width: 2000px;
}


@media (max-width: 575px){
    #qui {
        padding: 120px 0;
        flex-direction: column;
        height: unset!important;
    }

    .text-adventure{
        padding: 0 15px;
        text-align: center;
    }

    .text-adventure h2{
        margin-bottom: 20px;
        font-size: 30px;
    }

    .text-adventure p{
        color: #969696;
    }

    .Tyro{
        color: #0500FF;
    }

    .nbr-player {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .player-item {
        margin: 0 20px;
        position: relative;
        color: #969696;
    }

    .player-number {
        font-style: italic;
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }

    .player-label {
        font-size: 0.8rem;
        color: #969696;
    }

    .player-item::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: #1611FF;
    }

    .btn-adventure {
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }

    #btn-default {
        background-color: #525252;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    i {
        margin: 0 10px;
        font-size: 15px;
    }

    #btn-how {
        background-color: #0602BC;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    .img-adventure {
        margin-top: 30px;
        width: 350px;
    }

}
