
#rank-faction{
  /*display: flex;*/
  /*align-items: center;*/
  /*height: 100vh;*/
  margin-top: 120px;
  margin-bottom: 120px;

  h2{
    font-weight: 600;
  }

  h2 span{
    color: #0029FF;
  }

  .head-rank{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    article {

      text-align: center;

      img {
        width: 137px;
      }

      h4 {
        font-weight: 600;
        font-size: 24px;
      }

    }

  }


}


#rank-faction article:hover img {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

