<section id="rank-faction" class="container">

  <div class="head-rank">
    <h2>Classement sur <span>TyroServ Faction</span> !</h2>
    <article>
      <img src="/TyroServ-Faction.png" alt="Logo">
      <h4>PVP/FACTION</h4>
    </article>
  </div>




</section>

<style>

  #rank-faction{
    /*display: flex;*/
    /*align-items: center;*/
    height: 100vh;
    margin-top: 120px;
    margin-bottom: 120px;

    h2{
      font-weight: 600;
    }

    h2 span{
      color: #0029FF;
    }

    .head-rank{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      article {

        text-align: center;

        img {
          width: 137px;
        }

        h4 {
          font-weight: 600;
          font-size: 24px;
        }

      }

    }


  }



</style>
