#support {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* TEXTE */
.text-support {
    text-align: left;
    max-width: 50%;
    padding-left: 50px;
}


.text-support h2{
    margin-bottom: 20px;
    font-size: 52px;
    font-weight: 600;
}

.text-support p{
    color: #969696;
    font-size: 19px;
    font-weight: 400;
}

.Tyro{
    color: #0500FF;
}

/* BUTTON */
.btn-support {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#btn-default,
#btn-how {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #525252;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px;
    margin: 10px 0;
}

#btn-how {
    background-color: #0602BC;
}

#btn-how:hover{
    background-color: #1611FF;
}

#btn-default:hover{
    background-color: #6b6969;
}

i {
    margin-left: 5px;
    font-size: 20px;
}

/* IMAGE */
.img-support {
    width: 50%;
    max-width: 50%;
}


/* RESPONSIVE */
/* @media (max-width: 1828px) {
    .text-support {
        padding-left: 60px;
    }

    .text-support h2{
        white-space: wrap;
    }
} */


@media (max-width: 1200px) {
    #support{
        display: block;
        height: unset;
        padding: 120px 0;
      }


    .img-support,
    .text-support {
        max-width: 100%; /* Les éléments prennent 100% de la largeur dans cette configuration */
    }

    .text-support {
        padding-left: 0; /* Supprime le padding à gauche */
        margin-top: 30px; /* Ajout d'espace au-dessus du texte */
    }

}

@media (max-width: 878px) {
    #support{
        display: flex;
        flex-direction: column-reverse;
    }

      .text-support {
        width: 100%;
        padding-right: 0;
      }

      .img-support {
        width: 100%;
        max-width: 600px;
      }
}


@media (max-width: 575px){
    #support {
        display: flex;
        padding: 120px 0;
        flex-direction: column-reverse;
        height: unset!important;
    }

    .text-support{
        padding: 0 15px;
        text-align: center;
    }

    .text-support h2{
        margin-bottom: 20px;
        font-size: 30px;
    }

    .text-support p{
        color: #969696;
    }

    .Tyro{
        color: #0500FF;
    }

    .btn-support {
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }

    #btn-default {
        background-color: #525252;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    i {
        margin: 0 10px;
        font-size: 15px;
    }

    #btn-how {
        background-color: #0602BC;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    .img-support {
        margin-top: 30px;
        width: 350px;
    }

}

.img-support {
    width: 2000px;
}


@media (max-width: 575px){
    #support {
        padding: 120px 0;
        flex-direction: column-reverse;
        height: unset!important;
    }

    .text-support{
        padding: 0 15px;
        text-align: center;
    }

    .text-support h2{
        margin-bottom: 20px;
        font-size: 30px;
    }

    .text-support p{
        color: #969696;
    }

    .Tyro{
        color: #0500FF;
    }

    .btn-support {
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }

    #btn-default {
        background-color: #525252;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    i {
        margin: 0 10px;
        font-size: 15px;
    }

    #btn-how {
        background-color: #0602BC;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        margin: 10px 0;
    }

    .img-support {
        margin-top: 30px;
        width: 350px;
    }

}

.img-support{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

.imageUpOmbre{
  width: 90%;
}

.imageOmbre{
  width: 92%;
  height: 88px;
}
