<section id="support" class="container">
    <div class="img-support">
        <img src="/support.png" alt="Support" class="img-fluid">
    </div>
    <div class="text-support">
        <h2>Support disponible <span class="Tyro">24h/24h</span>!</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis perspiciatis, distinctio, voluptatum ipsa
            odit dolore officia ullam dolorem at sed, nemo vel iusto natus consequuntur? Molestiae animi iure minus
            deserunt! </p>
        <div class="btn-support">
            <button id="btn-how" routerLink="/support/">Contactez-nous</button>
            <button id="btn-default" onclick="window.location.href = 'https://discord.gg/km8h5jHezt'">Rejoindre Discord <i class="ri-discord-fill"></i></button>
        </div>
    </div>
</section>
