<section id="rank-minigame" class="container">

  <div class="head-rank">
    <h2>Classement sur <span>TyroServ Mini-Jeux</span> !</h2>
    <article>
      <img src="/TyroServ-MiniGame.png" alt="Logo">
      <h4>MINI-JEUX</h4>
    </article>
  </div>




</section>

<style>

  #rank-minigame{
    /*display: flex;*/
    /*align-items: center;*/
    height: 100vh;
    margin-top: 120px;
    margin-bottom: 120px;

    h2{
      font-weight: 600;
    }

    h2 span{
      color: #ff0000;
    }

    .head-rank{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      article {

        text-align: center;

        img {
          width: 137px;
        }

        h4 {
          font-weight: 600;
          font-size: 24px;
        }

      }

    }


  }



</style>
