
#s1-player{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}

/* IMAGE */

#s1-player .section-image{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#s1-player .section-image img:first-child{
  width: 50%;
}

#s1-player .section-image img:last-child{
  width: 63%;
  height: 82px;
}

/* TEXT */

#s1-player .section-text{
  width: 50%;
  margin-left: 30px;
}

#s1-player .section-text h2{
  font-size: 52px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}


#s1-player .section-image-mobile{
  display: none;
}

#s1-player .firstBtnComment{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 22px;

}

#s1-player .secondBtnComment{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 14px;
}


/* RESPONSIVE */
@media (max-width: 1394px) {

  #s1-player{
    display: block;
    height: unset;
    padding: 120px 0;
  }

  #s1-player .section-image{
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
  }

  #s1-player .section-text{
    width: 100%;
    margin: unset;
  }

  #s1-player .section-image-mobile{
    display: flex;
  }

  #s1-player .section-image-desktop{
    display: none;
  }

}


@media (max-width: 831px) {
  #s1-player .section-image{
    width: 100%;
    max-width: 400px;
    margin: 70px auto;
  }

  #s1-player .firstBtnComment{
    margin-bottom: 45px;
  }
  #s1-player .secondBtnComment{
    margin-bottom: 30px;
  }


  #s1-player .section-text .etape .text-legend h3{
    font-size: 28px;
    margin-left: 10px;
  }
  #s1-player .section-text .etape .text-legend p{
    font-size: 10px;
    margin-left: 10px;
  }


}

@media (max-width: 575px){
  #s1-player .section-text h2{

    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;

  }
  #s1-player .section-text .firstP{

    font-size: 19px;
    text-align: center;
    margin: 20px;

  }

}


@media (max-width: 477px) {

  #s1-player .firstBtnComment{
    margin-bottom: 35px;
  }
  #s1-player .secondBtnComment{
    margin-bottom: unset;
  }
}

