<section id="s1-player">



  <div class="section-image section-image-desktop">
    <img class="imageUpOmbre" src="/leader.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>

  <div class="section-text">

    <h2>Joueur </h2>

    <div id="leaderboard">

      <div class="legend">
        <h4 class="top">RANK</h4>
        <h4 class="player">JOUEUR</h4>
        <h4 class="money">MONEY</h4>
      </div>

      <ng-container *ngFor="let rank of this.leaderboard; let i = index">
        <div class="rank" routerLink="/player/{{ rank.pseudo }}">
          <h4 class="top">#{{ i + 1 }}</h4>
          <h4 class="player">
            <div>
              <img src="/default-head.jpg" alt="Player Avatar">
            </div>
            <span>{{ rank.pseudo }}</span>
          </h4>
          <h4 class="money">{{ rank.money }}</h4>
        </div>
      </ng-container>

      <div class="btn-leader">
        <button class="view-plus">Voir plus</button>
      </div>

    </div>

    <style>

      #leaderboard{

        margin-top: 30px;

        .btn-leader{
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .view-plus{
          background-color: #1E2024;
          border: unset;
          color: white;
          padding: 13px 65px;
          font-size: 12px;
          border-radius: 4px;
          text-transform: uppercase;
        }

        .view-plus:hover{
          background-color: #1f2125;
        }

        h4{
          color: #5A5A5A;
          font-size: 16px;
          font-weight: 400;
          margin: 0 20px;
        }

        h4.money {
          margin-left: auto;
          width: 70px;
          text-align: center;
        }

        h4.top{
          width: 50px;
          text-align: center;
        }

        h4.player{
          display: flex;
          align-items: flex-end;
        }

        .rank h4.player,
        .rank h4.money{
          color: white;
        }

        .rank{
          padding: 20px;
          transform: scale(1.0);
          transition: transform 0.2s ease-out;
          will-change: transform;
        }

        .legend{
          padding: 10px 20px;
        }

        .legend,
        .rank{
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          flex-direction: row;
          align-items: center;

          background-color: #1E2024;
          border-radius: 4px;
          margin: 18px 0;
        }

        .rank h4.player img{
          width: 20px;
          border-radius: 5px;
          margin-right: 5px;
        }

        .rank:hover{
          transform: scale(1.02);
        }


      }



    </style>



  </div>

  <div class="section-image section-image-mobile">
    <img class="imageUpOmbre" src="/leader.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>




</section>
