<section id="s1-player">



  <div class="section-image section-image-desktop">
    <img class="imageUpOmbre" src="/leader.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>

  <div class="section-text">

    <h2>Joueur </h2>

    <div id="leaderboard">

      <div class="legend">
        <h4>RANK</h4>
        <h4>JOUEUR</h4>
        <h4>MONEY</h4>
      </div>

      <ng-container *ngFor="let rank of this.leaderboard; let i = index">
        <div class="rank">
          <h4>#{{ i + 1 }}</h4>
          <h4 class="player">{{ rank.pseudo }}</h4>
          <h4 class="money">{{ rank.money }}</h4>
        </div>
      </ng-container>

    </div>

    <style>

      #leaderboard{

        h4{
          color: #5A5A5A;
          font-size: 19px;
          font-weight: 400;
          margin: 0 20px;
        }

        h4:last-child {
          margin-left: auto;
        }

        h4.player,
        h4.money{
          color: white;
        }

        .legend,
        .rank{
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          flex-direction: row;
          align-items: center;

          background-color: #1E2024;
          border-radius: 4px;
          padding: 20px;
          margin: 18px 0;
        }



      }



    </style>



  </div>

  <div class="section-image section-image-mobile">
    <img class="imageUpOmbre" src="/leader.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>




</section>
