nav {
    background-color: #111216 !important;
}
.nav-item a {
    font-size: 0.8rem;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-left: 40px;
}

.collapse {
    padding:0 40px;
}

.navbar-brand img {
    height: 60px;
}

.nbrPlayer {
    margin-left: 0.5rem;
}

li {
    padding: 0 10px;
}

.navbar-brand p {
    margin: 0 0 0 10px;
    padding: 0;
    line-height: 0.8; 
}

.MM {
    font-size: 0.7rem;
    color: #1611FF;
}

.navbar-nav {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: #1611FF;
}

.status {
    padding: 0 130px;
}

.status-connexion {
    display: flex;
    flex-direction: row;
}

.status-indicator {
    width: 15px;
    height: 15px;
    background-color: gray; 
    border-radius: 50%; 
}

span {
    font-size: 0.7rem;
}

.search-bar {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 190px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    border-bottom: solid 1px white;
}


.search-bar input::placeholder {
    font-size: 0.7rem;
    color: #aaa;
  }

.search-bar input:focus {
    box-shadow: none;
    outline: none;
}

.search-bar button {
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 5px;
}

.text-light {
    font-size: 0.9rem; 
}

.text-primary {
    color: #0000ff; 
}


.login-status .text-danger {
    font-size: 0.7rem; 
    color: red; 
    line-height: 0.5;
    margin-top: 10px; 
}

.login-status img {
    border-radius: 5px;
}

.login-status a {
    font-weight: bold; 
    font-size: 0.7rem; 
    text-decoration: none;
}

.store-btn {
    background-color: #1611FF;
    color: white;
    margin-top: 2px;
    padding: 5px 15px;
    border-radius: 5px;
    width: 100%;
}

.store-btn:hover {
    background-color: #5957f5;
}

@media (max-width: 1854px){
    .collapse {
        padding:0 10px;
    }

    .navbar-brand {
        padding-left: 0;
    }

    .login-status {
        padding-right: 0;
    }

    li {
        padding: 0 5px;
    }


    .status {
        padding: 0 5px;
    }

    
}

@media (max-width: 1390px) and (min-width: 1300px){
    .collapse {
        padding:0 10px;
    }

    .navbar-brand {
        padding-left: 0;
    }

    .login-status {
        padding-right: 0;
    }

    li {
        padding: 0 5px;
    }


    .status {
        padding: 0 5px;
    }

    .text-danger {
        line-height: 0;
    }
}

@media (max-width: 1280px) {
    .collapse {
        padding:0 10px;
    }

    .navbar-brand {
        padding-left: 0;
    }

    .login-status {
        padding-right: 0;
    }

    li {
        padding: 0 5px;
    }


    .status {
        padding: 0 5px;
    }
}


@media (max-width: 1211px){
    .collapse {
        padding: 0 5px;
    }
    
    .navbar-brand {
        flex-direction: row;
        text-align: left;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem; 
    }

    .nbrPlayer {
        margin: 0 5px;

    }

    li {
        padding: 0 2px;
    }

    .search-bar {
        width: 200px; 
    }


    .login-status .text-danger {
        font-size: 0.5rem; 
        color: red; 
        line-height: 1;
    }
}

@media (max-width: 991px){
    .navbar-toggler {
        display: block; 
    }

    .navbar-collapse {
        display: none; 
    }

    .navbar-collapse.show {
        display: block !important; 
    }

    .navbar-brand {
        text-align: center;
    }

    .navbar-nav {
        justify-content: center;
    }

    .search-bar {
        width: 100%;
        align-items: stretch;
        margin-bottom: 10px;
    }

    .store-btn {
        width: 100px;
        padding: 8px 20px;
        margin: 5px 0;
    }

    .status {
        margin-top: 10px;
        padding: 0 10px;
    }

    .status-connexion {
        margin-top: 10px;
    }
}

@media (max-width: 767px){
    .navbar-brand {
        text-align: center;
    }

    .navbar-nav {
        justify-content: center;
    }

    .search-bar {
        width: 100%;
        align-items: stretch;
        margin-bottom: 10px;
    }

    .store-btn {
        width: 100px;
        padding: 8px 20px;
        margin: 5px 0;
    }

    .status {
        margin-top: 10px;
        padding: 0 10px;
    }

    .status-connexion {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .navbar-brand {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        margin: 0;
    }

    .navbar-nav .nav-link {
        display: block;
        margin: 5px 0;
    }

    .search-bar {
        align-items: stretch;
        width: 100%;
    }

    .store-btn {
        width: 100px;
        padding: 10px 15px;
        margin: 5px 0;
    }

    .status {
        margin-top: 10px;
        padding: 0 10px;
    }

    .login-status .text-danger {
        font-size: 0.8rem;
    }

    .navbar-brand img {
        height: 50px; 
    }

    .collapse {
        padding: 0 15px;
    }

    .status-connexion, .login-status {
        margin-top: 10px;
    }
}
