@if(hideService.isVisible){
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 fixed-top">
    <a class="navbar-brand text-center" routerLink=".">
        <img src="/TyroServ-Faction.png" alt="Logo">
        <p>
            TyroServ
            <br>
            <span class="MM">Minecraft Moddé</span>
        </p>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink=".">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=".#comment">JOUER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="rank">CLASSEMENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.tyroserv.fr" target="_blank">WIKI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="support">SUPPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link store-btn" href="https://tyrolium.tebex.io" target="_blank">BOUTIQUE</a>
            </li>
        </ul>
        <div class="d-flex align-items-center status-connexion me-auto">
            <span class="status-indicator"></span>
            <span class="nbrPlayer">En Ligne <span class="text-primary nbrPlayer">1000</span></span>
        </div>
        <div class="d-flex align-items-center justify-content-between status me-auto">
            <div class=" search-bar">
                <input id="search-input" class="form-control" placeholder="Rechercher un joueur" type="text"
                    #searchInput (keyup.enter)="onSearch(searchInput.value)">
                <button class="btn" type="button" (click)="onSearch(searchInput.value)">
                    <i class="ri-search-line" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        @if (!this.app.isLoggedIn){
        <div id="noConnected" class="d-flex align-items-center login-status" routerLink="panel">
            <img src="/default-head.jpg" alt="Player Avatar" width="30">
            <div class="ms-2 connect">
                <span class="d-block text-danger">Connexion obligatoire pour jouer</span>
                <a class="text-white" style="cursor: pointer;">Se connecter</a>
            </div>
        </div>
        } @else if (this.app.isLoggedIn){
        <div id="isConnected" class="d-flex align-items-center login-status" routerLink="panel">
            <img src="{{ '/default-head.jpg' }}" alt="Player Avatar" width="30">
            <div class="ms-2 connect">
                <span class="d-block text-danger" style="color: #4D5EFF!important;">Faction : {{
                    this.app.playerConnected?.faction?.name || 'Sans faction' }}</span>
                <a class="text-white">{{ this.app.userConnected.pseudo }}</a>
            </div>
            <div class="dropdown">
                <i class="ri-arrow-down-s-fill fs-3 mx-2" data-bs-toggle="dropdown" aria-expanded="false"
                    style="cursor: pointer;"></i>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="ri-user-line me-2"></i> Mon compte
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="ri-eye-line me-2"></i> Voir profil
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#" (click)="logout()">
                            <i class="ri-logout-box-r-line me-2"></i> Déconnexion
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        }


    </div>
</nav>
<div style="height: 86px"></div> <!-- FAKE NAVBAR -->
}