@if(hideService.isVisible){
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 fixed-top">
    <a class="navbar-brand" routerLink=".">
        <img src="/TyroServ-Faction.png" alt="Logo">
        <div class="tyroServ">
            <p>
                TyroServ
            </p>
            <span class="MM">Minecraft Moddé</span>
        </div>
    </a>



    <div id="burger-menu" (click)="toggleMenu()">
        <span></span>
    </div>

  <div id="search-menu" (click)="toggleMenuSearch()">
    <i class="ri-search-line"></i>
  </div>

    @if (this.isMobile){
    <!-- Login status for mobile -->
    <div id="login-status-mobile" class="d-flex align-items-center login-status-mobile">
        @if (!this.app.isLoggedIn)
        {
        <div id="noConnected-mobile" class="d-flex align-items-center login-status" routerLink="panel">
            <img src="/default-head.jpg" alt="Player Avatar" width="30">
            <div class="ms-2 connect">
                <span class="d-block text-danger">Connexion obligatoire pour jouer</span>
                <a class="text-white" style="cursor: pointer;">Se connecter</a>
            </div>
        </div>
        }
        @else if (this.app.isLoggedIn)
        {
        <div id="isConnected-mobile" class="d-flex align-items-center login-status">
            <div class="d-flex align-items-center dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                style="cursor: pointer;">
                <img src="{{ this.app.generateSkinHead(this.app.playerConnected.skin.type, this.app.playerConnected.player.pseudo, this.app.playerConnected.skin.texture) }}"
                    alt="Player Avatar" width="30">
                <div class="ms-2 connect">
                    <span class="d-block text-danger" style="color: #4D5EFF!important;">
                        Faction : {{ this.app.playerConnected?.faction?.name || 'Sans faction' }}
                    </span>
                    <a class="text-white">{{ this.app.userConnected.pseudo }}</a>
                </div>
                <i class="ri-arrow-down-s-fill fs-3 mx-2"></i>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a [routerLink]="['/panel']" class="dropdown-item d-flex align-items-center" href="#">
                        <i class="ri-user-line me-2"></i> Mon compte
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/player/', this.app.userConnected.pseudo]"
                        class="dropdown-item d-flex align-items-center">
                        <i class="ri-eye-line me-2"></i> Voir profil
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center deconnexion" href="#" (click)="logout()">
                        <i class="ri-logout-box-r-line me-2"></i> Déconnexion
                    </a>
                </li>
            </ul>
        </div>
        }
    </div>
    }
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink=".">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=".#comment">JOUER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="rank">CLASSEMENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.tyroserv.fr" target="_blank">WIKI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="support">SUPPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link store-btn" href="https://tyrolium.tebex.io" target="_blank">BOUTIQUE</a>
            </li>
        </ul>
        <div class="d-flex align-items-center status-connexion me-auto"
            onclick="window.open('https://stats.uptimerobot.com/7z9o3SEnWX', '_blank')">
            <span class="status-indicator"></span>
            <span class="nbrPlayer">En Ligne <span class="text-primary nbrPlayer">1000</span></span>
        </div>
        <div class="d-flex align-items-center justify-content-between status me-auto">
            <div class=" search-bar">
                <input id="search-input" class="form-control" placeholder="Rechercher un joueur" type="text"
                    #searchInput (keyup.enter)="onSearch(searchInput.value)">
                <button class="btn" type="button" (click)="onSearch(searchInput.value)">
                    <i class="ri-search-line" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        @if (!this.app.isLoggedIn){
        <div id="noConnected" class="d-flex align-items-center login-status" routerLink="panel">
            <img src="/default-head.jpg" alt="Player Avatar" width="30">
            <div class="ms-2 connect">
                <span class="d-block text-danger">Connexion obligatoire pour jouer</span>
                <a class="text-white" style="cursor: pointer;">Se connecter</a>
            </div>
        </div>
        } @else if (this.app.isLoggedIn){
        <div id="isConnected" class="d-flex align-items-center login-status">
            <div class="d-flex align-items-center dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                style="cursor: pointer;">
                <img src="{{ this.app.generateSkinHead(this.app.playerConnected.skin.type, this.app.playerConnected.player.pseudo, this.app.playerConnected.skin.texture) }}"
                    alt="Player Avatar" width="30">
                <div class="ms-2 connect">
                    <span class="d-block text-danger" style="color: #4D5EFF!important;">
                        Faction : {{ this.app.playerConnected?.faction?.name || 'Sans faction' }}
                    </span>
                    <a class="text-white">{{ this.app.userConnected.pseudo }}</a>
                </div>
                <i class="ri-arrow-down-s-fill fs-3 mx-2"></i>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a [routerLink]="['/panel']" class="dropdown-item d-flex align-items-center" href="#">
                        <i class="ri-user-line me-2"></i> Mon compte
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/player/', this.app.userConnected.pseudo]"
                        class="dropdown-item d-flex align-items-center">
                        <i class="ri-eye-line me-2"></i> Voir profil
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center deconnexion" href="#" (click)="logout()">
                        <i class="ri-logout-box-r-line me-2"></i> Déconnexion
                    </a>
                </li>
            </ul>
        </div>

        }
    </div>
    <script>
        var burgerMenu = document.getElementById('burger-menu');
        var overlay = document.getElementById('menu');
        var menuLinks = overlay.querySelectorAll('a');
        burgerMenu.addEventListener('click', function () {
            this.classList.toggle("close");
            overlay.classList.toggle("overlay");
        });
        menuLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                burgerMenu.classList.remove("close");
                overlay.classList.remove("overlay");
            });
        });
    </script>
</nav>
  <div id="menu" [ngClass]="{'overlay': isMenuSearchOpen}">
    <ul style="padding: unset">
      <li id="search-overlay">
        <div class=" search-bar">
          <input id="search-input" class="form-control" placeholder="Rechercher un joueur" type="text"
                 #searchInput (keyup.enter)="onSearch(searchInput.value)">
          <button class="btn" type="button" (click)="onSearch(searchInput.value)">
            <i class="ri-search-line" aria-hidden="true"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
<div id="menu" [ngClass]="{'overlay': isMenuOpen}">
    <ul style="padding: unset" class="menu-base">
        <li>
            <a routerLink="." (click)="closeMenu()">HOME</a>
        </li>
        <li>
            <a href=".#comment" (click)="closeMenu()">JOUER</a>
        </li>
        <li>
            <a routerLink="rank" (click)="closeMenu()">CLASSEMENT</a>
        </li>
        <li>
            <a href="https://wiki.tyroserv.fr" target="_blank" (click)="closeMenu()">WIKI</a>
        </li>
        <li>
            <a routerLink="support" (click)="closeMenu()">SUPPORT</a>
        </li>
        <li>
            <a href="https://tyrolium.tebex.io" target="_blank" (click)="closeMenu()">BOUTIQUE</a>
        </li>
    </ul>
</div>

<div style="height: 86px"></div> <!-- FAKE NAVBAR -->
}
