
<section id="supportform" class="container">
  <div class="container">
    <div class="intro text-center"> </div>
    <div class="bg-color"></div>
    <div class="form-box shadow">
      <div class="title-form text-center">
        <h2>Nous contactez</h2>
        <p>Ut consequat facilisis et duo lorem et ipsum invidunt tempor. Consetetur nonumy accusam iusto wisi feugiat stet ut no iusto consequat.</p>
      </div>
      <form action="https://formspree.io/f/mnnaypzq" method="POST">

            <input type="text" name="name" placeholder="Nom et prénom">
            <input type="email" name="email" placeholder="email">
            <textarea name="context" placeholder="Sujet"></textarea>
            <button type="submit" class="btn btn-how">Envoyé</button>

      </form>
    </div>
  </div>
</section>
