@if(player){
<section id="infoplayer">
    <div class="profile">
        <div class="profile-header">
            <h2>Profil</h2>
        </div>
        <div class="profile-details">
            <p><strong>Pseudo</strong><i class="ri-arrow-right-line"></i><span>{{player.player.pseudo}}</span></p>
            <p>

                @if (player.player['uuid-tyroserv'] === "Without a Useritium account"){
                  <strong>Etat</strong>
                    <i class="ri-arrow-right-line"></i>
                    <span class="role">
                      <button class="btn-stat" style="background-color: {{ player.role.color }};" routerLink="/panel/register">
                        Jamais revendiqué
                      </button>
                    </span>
                }

                @if (player.player['uuid-tyroserv'] === "Never connect"){
                  <strong>Etat</strong>
                    <i class="ri-arrow-right-line"></i>
                    <span class="role">
                      <button class="btn-stat" style="background-color: {{ player.role.color }};" routerLink="/panel/login">
                        Jamais connecté
                      </button>
                    </span>
                }

                @if (player.player['uuid-tyroserv'] !== "Without a Useritium account" && player.player['uuid-tyroserv'] !== "Never connect"){
                  <strong>Role</strong>
                    <i class="ri-arrow-right-line"></i>
                    <span class="role">
                      <button class="btn-stat" style="background-color: {{ player.role.color }};">
                        {{player.role.name ?? "Membre" }}
                      </button>
                    </span>
                }
            </p>
            <p>
              <strong>Faction</strong> <i class="ri-arrow-right-line"></i>
              <span class="faction">
                <button class="btn-stat" style="background-color: #1712d9;">
                  {{player.faction.name ?? "Sans faction"}}
                </button>
              </span>
            </p>
          @if (player.player['uuid-tyroserv'] !== "Without a Useritium account" && player.player['uuid-tyroserv'] !== "Never connect"){
            <p><strong>Money</strong> <i class="ri-arrow-right-line"></i><span class="money">{{player.money}}
                    $</span></p>
            <p><strong>UUID (TyroServ)</strong> <i
              class="ri-arrow-right-line"></i><span class="uuid-text">{{player.player['uuid-tyroserv']}}</span></p>
          }



          @if (player.player['uuid-minecraft'] !== "No prenium"){
            <p (click)="openPlayerProfile()"><strong>UUID (Minecraft)</strong> <i
                    class="ri-arrow-right-line"></i><span class="uuid-text">{{player.player['uuid-minecraft']}}</span></p>
          }


          @if (player.player['uuid-tyroserv'] === "Without a Useritium account"){
            <small style="font-size: 9px; margin-left: 10px">*Page généré avec l'API de Minecraft &copy;.</small>
          }

          @if (player.player['uuid-minecraft'] !== "No prenium" && player.player['uuid-tyroserv'] !== "Without a Useritium account"){
            <small style="font-size: 9px; margin-left: 10px">*Certaine information provienne de l'API de Minecraft &copy;.</small>
          }

        </div>
    </div>

  @if (this.isMobile){
    <div class="container-skin">
      <app-skinplayer></app-skinplayer>
    </div>
  }

    <div class="cape">
        <div class="cape-header">
            <h2>Cape</h2>
        </div>
        <div class="cape-details">
            <div class="store">
                <p>Cape <span>TyroServ</span></p>
                <button class="btn-how" onclick="window.open('https://tyrolium.tebex.io', '_blank')">Boutique <i class="ri-shopping-bag-line"></i></button>
            </div>

            @if(player.capes.tyroserv.length > 0){
            <div class="cape-tyro">
                @for(cape of player.capes.tyroserv; track cape.id){
                  @if (cape.isSelected && dbCapeId !== 99999999){
                    <img class="active-cape" [src]="this.app.generateCapeView(cape.capeTexture.texture)" alt="{{ cape.name }}">
                  } @else {
                    <img [src]="this.app.generateCapeView(cape.capeTexture.texture)" alt="{{ cape.name }}">
                  }
                }
            </div>
            } @else {
              <div class="cape-tyro">
                <h5 style="margin: 30px 0;
    color: #b7b7b7;">Aucune cape TyroServ</h5>
              </div>
            }
            @if(player.capes.minecraft.length > 0){
            <p>Cape Minecraft</p>
            <div class="cape-minecraft">
                @for(cape of player.capes.minecraft; track cape.id){
                  @if (cape.isSelected && player.capes.tyroserv.length === 0 || dbCapeId === 99999999){
<!--                    <img class="active-cape" [src]="cape.capeTexture.texture" alt="Cape MC Officiel">-->
                    <canvas *ngIf="startCape()" #pixelCanvas [attr.data-url]="cape.capeTexture.texture" class="pixelCanvas active-cape"></canvas>

                  } @else {
<!--                    <img [src]="cape.capeTexture.texture" alt="Cape MC Officiel">-->
                    <canvas *ngIf="startCape()" #pixelCanvas [attr.data-url]="cape.capeTexture.texture" class="pixelCanvas"></canvas>


                  }
                }
            </div>
            }
            @if(player.capes.optifine.length > 0){
            <p>Cape Optifine</p>
            <div class="cape-optifine">
                @for(cape of player.capes.optifine; track cape.id){
                <img src="france_flag.png" alt="France Flag">
                }
            </div>
            }
<!--          <button (click)="loadCapeMCOfficiel()"> salut </button>-->
        </div>
    </div>
</section>
}
