<section id="infoplayer">
    <div class="profile">
        <div class="profile-header">
            <h2>Profil</h2>
        </div>
        <div class="profile-details">
            <p><strong>Pseudo</strong><i class="ri-arrow-right-line"></i><span>TheMaxim640m</span></p>
            <p><strong>Role</strong><i class="ri-arrow-right-line"></i><span class="role">Fondateur</span></p>
            <p><strong>Faction</strong> <i class="ri-arrow-right-line"></i><span class="faction">TyroFaction</span></p>
            <p><strong>Money</strong> <i class="ri-arrow-right-line"></i><span class="money">500.0 €</span></p>
            <p><strong>UUID (Minecraft)</strong> <i
                    class="ri-arrow-right-line"></i><span>5c4e1ae3-b50f-c856-ea64-c28a132a0315</span></p>
            <p><strong>UUID (TyroServ)</strong> <i
                    class="ri-arrow-right-line"></i><span>6f6eacac-7030-3f74-bcb9-fccdcda9f0d2</span></p>
        </div>
    </div>

    <div class="cape">
        <div class="cape-header">
            <h2>Cape</h2>
        </div>
        <div class="cape-details">
            <div class="store">
                <p>Cape <span>TyroServ</span></p>
                <button class="btn-how">Boutique <i class="ri-shopping-bag-line"></i></button>
            </div>
            <div class="cape-tyro">
                <img src="cape1.png" alt="Cape 1">
                <img src="cape2.png" alt="Cape 2">
            </div>
            <p>Cape Minecraft</p>
            <div class="cape-minecraft">
                <img src="cape1.png" alt="Cape 1">
                <img src="cape2.png" alt="Cape 2">
                <img src="cape3.png" alt="Cape 3">
                <img src="cape4.png" alt="Cape 4">
                <img src="cape5.png" alt="Cape 5">
                <img src="cape6.png" alt="Cape 6">
            </div>
            <p>Cape Optifine</p>
            <div class="cape-optifine">
                <img src="france_flag.png" alt="France Flag">
            </div>
        </div>
    </div>
</section>