#infoplayer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*GENERAL*/
.profile, .cape {
    background-color: #0D1017;
    padding: 30px 50px;
    margin: 30px 0;
    border-radius: 10px;
    border: solid 1px white;
}

/*TITRE*/
.profile-header, .cape-header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: solid 1px white;
    cursor: pointer;
}

/*DETAILS*/
.profile-details p, .cape-details p {
    margin: 15px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}



.profile-details p strong {
    width: 100px;
}

.profile-details p i {
    margin: 0 50px;
    flex-shrink: 0;
}

.cape-details p {
    align-items: center;
  padding-left: 20px;
  display: block;
}

.cape-details span {
    color: #0500FF;
}

.store {
     display: flex;
    justify-content: space-between;
}

.btn-stat {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #525252;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 13px;
  margin: 0;
  font-size: 15px;
}

.profile-details p{
  /*height: 44px;*/
}

/*COLOR ROLE & FACTION*/
.role, .faction {
  color: #ff4f4f;
  text-transform: capitalize;
}

.money {
    color: #ff9f4f;
}

/*CAPE*/
.cape-minecraft, .cape-optifine, .cape-tyro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}


.cape-minecraft canvas, .cape-optifine canvas, .cape-tyro img {
    width: 50px;
    height: 75px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

.cape-minecraft canvas:hover, .cape-optifine canvas:hover, .cape-tyro img:hover {
    border: 1px solid #0037ff!important;
  transform: scale(1.2);
}

canvas {
  image-rendering: pixelated;
}

.active-cape{
  border: 1px solid #ffffff !important;
}

/*BUTTON*/
.btn-how {
    padding: 0 20px;
}

.btn-how i {
    margin-left: 10px;
}

/* RESPONSIVE */

@media (max-width: 876px) {
    .profile-details p, .cape-details p {
        white-space: wrap;
    }
}


.container-skin{
  align-items: center;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.uuid-text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
