#skin h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: white;
}


#skin p.label-skin {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  /*margin-left: 300px;*/
  color: white;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#skin p i {
  margin-left: 5px;
}

#skin img {
  max-width: 100%;
  width: 150px;
}

#skin .valideskin .btn-how{
  padding-right: 21px;
}

#skin .valideskin .btn-how:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

#skin .valideskin .btn-how i {
  /*margin-left: 5px;*/
  font-size: 20px;
  margin-right: 9px;
  margin-bottom: 2px;
  margin-left: 0px;
}


.skin-section {
  width: 100%;
  margin: 50px 0;
}

input[type="file"] {
  opacity: 0;
  width: 0;
  margin: 0;
  height: 30px;
  padding: 0;
  cursor: pointer;
  position: relative;
}

label.custom-file-upload:hover {
  background-color: #0602BC;
}

label.custom-file-upload {
  background-color: #1611FF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
  font-size: 12px;
}


.actual-skin, .change-skin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*background-color: rgba(92, 92, 92, 0.5);*/
  background-image: url(/back_skin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;


  margin: 45px auto;

  z-index: -1;
  padding: 20px;
  width: 200px;
}

.btn-reset-skin,
.btn-change-skin {
  display: flex;
  justify-content: center;
}

.button-action {
  display: flex;
  gap: 10px;
}

.btn-how {
  background-color: #1a1aff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-default {
  background-color: #888888;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-how:hover {
  background-color: #0A00D4;
}

.btn-default:hover {
  background-color: #6b6969;
}

@media (max-width: 575px) {
  #skin p.label-skin {
      margin-left: 0;
      text-align: center;
  }

  .button-action {
    margin-left: 0;
  }
}
