.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 100%;
  }
  
  #skin h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    text-align: center; /* Centrer le titre */
  }
  
  #skin p {
    display: inline-flex;
    align-items: center;
    text-align: start;
    font-size: 20px; /* Ajustement taille du texte */
    font-weight: 600;
    margin-bottom: 15px; /* Ajout de l'espacement */
    margin-left: -350px;
  }
  
  #skin p i {
    margin-left: 5px;
  }
  
  #skin img {
    max-width: 100%;
    width: 150px;
    margin: 15px 0; /* Espacement autour des images */
  }
  
  .actual-skin, .change-skin {
    display: flex;
    justify-content: center; /* Centre les skins */
  }
  
  .btn-change-skin {
    display: flex;
    justify-content: center; /* Centre les boutons */
    margin-top: 10px; /* Espacement entre les boutons et les skins */
  }
  
  .button-action {
    display: flex;
    gap: 10px;
  }
  
  .btn-how {
    background-color: #1a1aff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-default {
    background-color: #888888;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  