<section id="skin">
    <div class="cubeSubtitle">
        <h2 style="z-index: 2">Skin Minecraft</h2>
        <div class="subtitle" style="    width: 339px;
  z-index: 1;
  height: 24px;
  margin-top: -40px;"></div>
    </div>

    <p class="label-skin">Votre skin <i class="ri-arrow-right-line"></i></p>
    <div class="actual-skin">
        <!--SKIN-->
        <img
            [src]="this.app.generateSkinTexture(this.app.playerConnected.skin.type, this.app.playerConnected.player.pseudo, this.app.playerConnected.skin.texture)">
    </div>

    <p class="label-skin">Changer de skin <i class="ri-arrow-right-line"></i></p>

    <div class="btn-change-skin">
        <div class="button-action">
            <button class="btn-how">Uploader un skin</button>
            <button class="btn-default">Réinitialiser</button>
        </div>
    </div>

    <div class="change-skin">
        <!--SKIN UPLOAD-->
        <img
            [src]="this.app.generateSkinTexture(this.app.playerConnected.skin.type, this.app.playerConnected.player.pseudo, this.app.playerConnected.skin.texture)">
    </div>
</section>