<section id="cape">
        <!-- Titre principal -->
<!--        <h2>Cape Minecraft</h2>-->
        <div class="cubeSubtitle">
          <h2 style="z-index: 2">Cape Minecraft </h2>
          <div class="subtitle" style="    width: 339px;
    z-index: 1;
    height: 24px;
    margin-top: -28px;"></div>
        </div>
        <!-- Bouton acheter -->


        <!-- Section Vos capes -->
        <div class="cape-section">
            <div class="cape-header">
                <p>Vos capes <i class="ri-arrow-right-line"></i></p>
                <div class="store">
                    <button class="btn-how" onclick="window.open('https://tyrolium.tebex.io', '_blank')"><i
                            class="ri-shopping-bag-line"></i> Acheter une cape</button>
                </div>
            </div>


          <div class="card-group" style=" align-items: center;">

            <div data-id="vide" class="cardcape">
              <div class="cape canvas-container">
                <canvas data-url="" class="pixelCanvas vide" width="100" height="160"></canvas>
              </div>
              <div class="cape-footer">
                <input name="idCapeSelected" value="99999999" type="radio"> Aucune Cape
              </div>
            </div>

            @for(cape of app.playerConnected.capes.tyroserv; track cape.id) {

              @if(cape.isSelected == true){

                <div data-id="{{ cape.idCapes }}" class="cardcape active">
                  <div class="cape canvas-container">
                    <img [src]="this.app.generateCapeView(cape.capeTexture.texture)" alt="{{ cape.name }}" class="pixelCanvas" width="100" height="160">
                  </div>
                  <div class="cape-footer">
                    <input name="idCapeSelected" value="{{ cape.idCapes }}" type="radio" checked> {{ cape.name }}
                  </div>
                </div>

              } @else {

                <div data-id="{{ cape.idCapes }}" class="cardcape">
                  <div class="cape canvas-container">
                    <img [src]="this.app.generateCapeView(cape.capeTexture.texture)" alt="{{ cape.name }}" class="pixelCanvas" width="100" height="160">
                  </div>
                  <div class="cape-footer">
                    <input name="idCapeSelected" value="{{ cape.idCapes }}" type="radio"> {{ cape.name }}
                  </div>
                </div>
              }

            }

          </div>

        </div>

        <!-- Section Recommandation -->
        <div class="recommend-section">
            <p>Recommandation <i class="ri-arrow-right-line"></i></p>
            <div class="card-group" style=" align-items: center;">

              <div class="cardcape reco">
                <div class="cape canvas-container">
                  <img src="http://vps214.tyrolium.fr/capes/capes/capeView.php?scale=20&pictureName=minecon2011.png" class="pixelCanvas" width="100" height="160">
                </div>
                <div class="cape-footer">
                  minecon2011
                </div>
                <div style="text-align: center">
                  <button class="btn-obtain">Obtenir</button>
                </div>
              </div>

              <div class="cardcape reco">
                <div class="cape canvas-container">
                  <img src="http://vps214.tyrolium.fr/capes/capes/capeView.php?scale=20&pictureName=minecon2011.png" class="pixelCanvas" width="100" height="160">
                </div>
                <div class="cape-footer">
                    minecon2011
                </div>
                <div style="text-align: center">
                  <button class="btn-obtain">Obtenir</button>
                </div>
              </div>

            </div>
        </div>
</section>
