<section id="cape">
        <!-- Titre principal -->
<!--        <h2>Cape Minecraft</h2>-->
        <div class="cubeSubtitle">
          <h2 style="z-index: 2">Cape Minecraft </h2>
          <div class="subtitle" style="    width: 339px;
    z-index: 1;
    height: 24px;
    margin-top: -28px;"></div>
        </div>
        <!-- Bouton acheter -->


        <!-- Section Vos capes -->
        <div class="cape-section">
            <div class="cape-header">
                <p>Vos capes <i class="ri-arrow-right-line"></i></p>
                <div class="store">
                    <button class="btn-how" onclick="window.open('https://tyrolium.tebex.io', '_blank')"><i
                            class="ri-shopping-bag-line"></i> Acheter une cape</button>
                </div>
            </div>


          <div class="card-group" style=" align-items: center;">

            <div data-id="99999999" class="cardcape" [class.active]="99999999 === currentCapeId" (click)="onSelectCape(99999999)">
              <div class="cape canvas-container">
                <canvas data-url="" class="pixelCanvas vide" width="100" height="160"></canvas>
              </div>
              <div class="cape-footer">
                <input name="idCapeSelected" value="99999999" type="radio" [checked]="99999999 === currentCapeId"> Aucune Cape
              </div>
            </div>

            @for(cape of app.playerConnected.capes.tyroserv; track cape.id) {


                <div data-id="{{ cape.idCapes }}" class="cardcape" [class.active]="cape.idCapes === currentCapeId" (click)="onSelectCape(cape.idCapes)">
                  <div class="cape canvas-container">
                    <img [src]="this.app.generateCapeView(cape.capeTexture.texture)" alt="{{ cape.name }}" class="pixelCanvas" width="100" height="160">
                  </div>
                  <div class="cape-footer">
                    <input name="idCapeSelected" value="{{ cape.idCapes }}" type="radio" [checked]="cape.idCapes === currentCapeId"> {{ cape.name }}
                  </div>
                </div>

            }

          </div>

          <br>
          <div class="center-btn">
            <button id="capeUpdate" disabled class="btn-how" type="submit">
              <i class="icon ri-check-line"></i> Appliqué la cape
            </button>
          </div>


        </div>


  @if (this.recommendCape.length > 0){

        <!-- Section Recommandation -->
        <div class="recommend-section">
            <p>Recommandation <i class="ri-arrow-right-line"></i></p>
            <div class="card-group" style=" align-items: center;">

              @for(cape of this.recommendCape; track cape.id) {
                @if (cape.isShop == 1){
                  <div class="cardcape reco">
                    <div class="cape canvas-container">
                      <img [src]="this.app.generateCapeView(cape.url)" alt="{{ cape.name }}" class="pixelCanvas" width="100" height="160">
                    </div>
                    <div class="cape-footer">
                      <p>
                        {{ cape.name }}
                      </p>
                    </div>
                    <div style="text-align: center">
                      <button class="btn-obtain">Obtenir</button>
                    </div>
                  </div>
                }
              }

            </div>
        </div>

  }
</section>
