<section id="sidebar" class="sticky-top">
    <div class="container">
        <div class="profile">
            <img src="{{ this.app.generateSkinHead(this.app.playerConnected.skin.type, this.app.playerConnected.player.pseudo, this.app.playerConnected.skin.texture) }}"
                alt="head profile player" class="img-fluid">
            <p>{{ this.app.userConnected.pseudo }}</p>
        </div>
        <div class="settings">
            <div class="settings-item">
                <p><i class="ri-information-line"></i>Mes informations</p>
                <p><i class="ri-image-fill"></i>Changer de skin</p>
                <p><i class="ri-t-shirt-line"></i>Mes Capes</p>
            </div>
        </div>
        <div class="goTo">
            <div class="goTo-item">
                <p><i class="ri-external-link-line"></i>Useritium</p>
                <p class="deconnexion"><i class="ri-login-box-line"></i>Déconnexion</p>
            </div>
        </div>
    </div>
</section>
