<section id="sidebar" class="sticky-top">
    <div class="container">
        <div class="profile">
          <div routerLink="/player/{{ this.app.userConnected.pseudo }}">
            <img src="{{ this.app.generateSkinHead(this.app.playerConnected.skin.type, this.app.playerConnected.player.pseudo, this.app.playerConnected.skin.texture) }}"
                 alt="head profile player" class="img-fluid">
            <div class="icon-overlay">
              <i class="ri-external-link-line"></i>
            </div>
          </div>
            <p>{{ this.app.userConnected.pseudo }}</p>
        </div>
        <div class="settings">
            <div class="settings-item">
                <p routerLink="/panel/"><i class="ri-information-line"></i>Mes informations</p>
                <p routerLink="/panel/skin"><i class="ri-image-fill"></i>Changer de skin</p>
                <p routerLink="/panel/cape"><i class="ri-t-shirt-line"></i>Mes Capes</p>
            </div>
        </div>
        <div class="goTo">
            <div class="goTo-item">
                <p onclick="window.open('https://useritium.fr/panel.php', '_blank')"><i class="ri-external-link-line"></i>Useritium</p>
                <p class="deconnexion" (click)="this.app.loggout()"><i class="ri-login-box-line"></i>Déconnexion</p>
            </div>
        </div>
    </div>
</section>
