.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    padding: 0;
}

h1 {
    font-size: 74px;
    font-weight: 800;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    line-height: 0.5;
}

h2 span {
    color: #0500FF;
    font-size: 20px;
}
