<div class="container" style="
    justify-content: space-between;">
  <div class="divTitlePlayerPseudo">
    <h1 class="titlePlayerPseudo">{{ pseudoPlayer }}</h1>
    <div class="subtitle"></div>
  </div>
    <h2 class="titlePlayerPage">TYROSERV <br><span>Minecraft Moddé</span></h2>
</div>
@if (existingPlayer){
  <div class="container">

    @if (!this.isMobile){
      <app-skinplayer></app-skinplayer>
    }
      <app-infoplayer></app-infoplayer>
  </div>

  <app-statplayer></app-statplayer>
}
@if (!existingPlayer){
  <h1> No player</h1>
}
