<section id="comment" class="container">


  <div class="section-image section-image-desktop">
    <img class="imageUpOmbre" src="/launcher.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>

  <div class="section-text">

    <h2>Comment jouer sur <span>TyroServ</span> ? </h2>
    <p><small>TyroServ est un serveur semi-crack, c’est à dire
      que c’est gratuit mais vous devez vous créer
      un compte sur notre site afin de garantir votre sécurité
    </small></p>
    <div class="etape">
      <div class="legend">
        <img src="/etape.png" alt="legend">
      </div>
      <div class="text-legend">
        <h3>Créer vous un compte</h3>
        <p>Création du compte si-dessous</p>
        <div class="firstBtnComment">
          <button class="btn-how">Créer un compte <i class="ri-user-3-fill"></i></button>
        </div>
        <h3>Télécharger notre Launcher</h3>
        <p>Lorsque vous avez téléchargé le launcher, il suffit d'installer celui-ci en double cliquant et en vous connectant avec votre compte TyroServ.</p>
        <div class="secondBtnComment">
          <button class="btn-how">Télécharger le launcher <i class="ri-windows-fill"></i></button>
        </div>
        <h3>Rejoignez le serveur</h3>
        <p>Cliquez sur "jouer", le jeu se lance et il ne suffit plus qu'a appuyer sur "rejoindre".</p>
      </div>
    </div>

  </div>

  <div class="section-image section-image-mobile">
    <img class="imageUpOmbre" src="/launcher.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>



</section>

<style>

  #comment .section-text{
    width: 50%;
    margin-left: 30px;
  }

  #comment .section-text h2{
    font-size: 52px;
    font-weight: 600;

  }
  #comment .section-text h2 span{
    color: #2400FF;
  }

  #comment .section-text small{
    color: #7A7A7A;
    font-size: 19px;
    font-weight: 400;
  }

  #comment .section-text p {
    margin-left: 20px;
  }

  #comment .section-text .etape{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    height: 400px;
  }

  #comment .section-text .etape .legend{
    width: 10%;
  }
  #comment .section-text .etape .legend img{
    height: 100%;
  }

  #comment .section-text .etape .text-legend{
    width: 90%;
    /*background-color: red;*/
  }

  #comment .section-text .etape .text-legend h3{
    font-size: 35px;
    font-weight: 500;
  }
  #comment .section-text .etape .text-legend p{
    color: #7A7A7A;
    font-size: 15px;
    font-weight: 400;
    margin-left: 3px;
    margin-top: -10px;
  }

  #comment .section-image-mobile{
    display: none;
  }

  @media (max-width: 1200px) {

    #comment{
      display: block;
      height: unset;
      padding: 120px 0;
    }

    #comment .section-image{
      width: 100%;
      max-width: 400px;
      margin: 40px auto;
    }

    #comment .section-text{
      width: 100%;
      margin: unset;
    }

    #comment .section-image-mobile{
      display: block;
    }

    #comment .section-image-desktop{
      display: none;
    }

  }



</style>
