<section id="comment" class="container">


  <div class="section-image section-image-desktop">
    <img class="imageUpOmbre" src="/launcher.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>

  <div class="section-text">

    <h2>Comment jouer sur <span>TyroServ</span> ? </h2>
    <p class="firstP"><small>TyroServ est un serveur <strong>semi-crack</strong>, c’est à dire
      que c’est <strong>gratuit</strong> mais vous devez vous créer
      un compte sur notre site afin de garantir votre sécurité
    </small></p>
    <div class="etape">
      <div class="legend">
        <img src="/etape.png" alt="legend">
      </div>
      <div class="text-legend">
        <h3>Créer vous un compte</h3>
        <p>Création du compte si-dessous</p>
        <div class="firstBtnComment">
          <button class="btn-how">Créer un compte <i class="ri-user-3-fill"></i></button>
        </div>
        <h3>Télécharger notre Launcher</h3>
        <p>Lorsque vous avez téléchargé le launcher, il suffit d'installer celui-ci en double cliquant et en vous connectant avec votre compte TyroServ.</p>
        <div class="secondBtnComment">
          <button class="btn-how">Télécharger le launcher <i class="ri-windows-fill"></i></button>
        </div>
        <h3>Rejoignez le serveur</h3>
        <p>Cliquez sur "jouer", le jeu se lance et il ne suffit plus qu'a appuyer sur "rejoindre".</p>
      </div>
    </div>

  </div>

  <div class="section-image section-image-mobile">
    <img class="imageUpOmbre" src="/launcher.png" alt="launcher">
    <img class="imageOmbre" src="/ombre-picture.png" alt="ombre-launcher">
  </div>



</section>

