<section id="info-panel">
  <div class="cubeSubtitle">
    <h2 style="z-index: 2">Mes Informations</h2>
    <div class="subtitle" style="    width: 396px;
  z-index: 1;
  height: 24px;
  margin-top: -40px;"></div>
  </div>

  <div class="blockinfoplayer">

    <h1>Pseudo MC : {{ this.app.playerConnected.player.pseudo }}</h1>
    <h1>Pseudo Useritium : {{ this.app.userConnected.useritium.username }}</h1>

  </div>

  <div class="blockinfoplayer">

    <h1>Pseudo MC : {{ this.app.playerConnected.player.pseudo }}</h1>
    <h1>Pseudo Useritium : {{ this.app.userConnected.useritium.username }}</h1>

  </div>

  <button (click)="viewData()">View</button>




</section>
