<section id="info-panel">
  <div class="cubeSubtitle">
    <h2 style="z-index: 2">Mes Informations</h2>
    <div class="subtitle" style="    width: 396px;
  z-index: 1;
  height: 24px;
  margin-top: -40px;"></div>
  </div>

  <div class="blockinfoplayer firstBento">

    <h3 class="fisth3">Bienvenue {{ this.app.playerConnected.player.pseudo }}</h3>
    <div class="profile-details">

      <div class="profile">
        <div routerLink="/player/{{ this.app.userConnected.pseudo }}">
          <img src="{{ this.app.generateSkinHead(this.app.playerConnected.skin.type, this.app.playerConnected.player.pseudo, this.app.playerConnected.skin.texture) }}"
               alt="head profile player" class="img-fluid">
        </div>
        <p>{{ this.app.userConnected.pseudo }}</p>
      </div>

      <p>

        @if (this.app.playerConnected.player['uuid-tyroserv'] === "Without a Useritium account"){
          <strong>Etat</strong>
          <i class="ri-arrow-right-line"></i>
          <span class="role">
                      <button class="btn-stat" style="background-color: {{ this.app.playerConnected.role.color }};" routerLink="/panel/register">
                        Jamais revendiqué
                      </button>
                    </span>
        }

        @if (this.app.playerConnected.player['uuid-tyroserv'] === "Never connect"){
          <strong>Etat</strong>
          <i class="ri-arrow-right-line"></i>
          <span class="role">
                      <button class="btn-stat" style="background-color: {{ this.app.playerConnected.role.color }};" routerLink="/panel/login">
                        Jamais connecté
                      </button>
                    </span>
        }

        @if (this.app.playerConnected.player['uuid-tyroserv'] !== "Without a Useritium account" && this.app.playerConnected.player['uuid-tyroserv'] !== "Never connect"){
          <strong>Role</strong>
          <i class="ri-arrow-right-line"></i>
          <span class="role">
                      <button class="btn-stat" style="background-color: {{ this.app.playerConnected.role.color }};">
                        {{this.app.playerConnected.role.name ?? "Membre" }}
                      </button>
                    </span>
        }
      </p>
      <p>
        <strong>Faction</strong> <i class="ri-arrow-right-line"></i>
        <span class="faction">
                <button class="btn-stat" style="background-color: #1712d9;">
                  {{this.app.playerConnected.faction.name ?? "Sans faction"}}
                </button>
              </span>
      </p>
      @if (this.app.playerConnected.player['uuid-tyroserv'] !== "Without a Useritium account" && this.app.playerConnected.player['uuid-tyroserv'] !== "Never connect"){
        <p><strong>Money</strong> <i class="ri-arrow-right-line"></i><span class="money">{{this.app.playerConnected.money}}
          $</span></p>
        <p><strong>UUID (TyroServ)</strong> <i
          class="ri-arrow-right-line"></i><span class="uuid-text">{{this.app.playerConnected.player['uuid-tyroserv']}}</span></p>
      }



      @if (this.app.playerConnected.player['uuid-minecraft'] !== "No prenium"){
        <p (click)="openPlayerProfile()"><strong>UUID (Minecraft)</strong> <i
          class="ri-arrow-right-line"></i><span class="uuid-text">{{this.app.playerConnected.player['uuid-minecraft']}}</span></p>
      }


      @if (this.app.playerConnected.player['uuid-tyroserv'] === "Without a Useritium account"){
        <small style="font-size: 9px; margin-left: 10px">*Page généré avec l'API de Minecraft &copy;.</small>
      }

      @if (this.app.playerConnected.player['uuid-minecraft'] !== "No prenium" && this.app.playerConnected.player['uuid-tyroserv'] !== "Without a Useritium account"){
        <small style="font-size: 9px; margin-left: 10px">*Certaine information provienne de l'API de Minecraft &copy;.</small>
      }

    </div>
  </div>

  <div class="blockinfoplayer">

    <h3>Useritium</h3>
    <p>
      Tout les comptes sur TyroServ sont des compte useritium à fin de pouvoir rendre
      compatible tout les produit proposé par Tyrolium
    </p>

    <div class="pp" [style]=" this.PPUseritium "></div>
    <h4>{{ this.app.userConnected.useritium.username }}</h4>

    <div class="btnUseritium">
      <button class="btn-how">Changer de mots de passe</button>
      <button class="btn-default">Accedez à Useritium</button>
    </div>

  </div>

<!--  <button (click)="viewData()">View</button>-->




</section>
