<section id="info-panel">
  <div class="cubeSubtitle">
    <h2 style="z-index: 2">Mes Informations</h2>
    <div class="subtitle" style="    width: 396px;
  z-index: 1;
  height: 24px;
  margin-top: -40px;"></div>
  </div>

  <div class="blockinfoplayer">

    <h3>Bienvenue {{ this.app.playerConnected.player.pseudo }}</h3>

  </div>

  <div class="blockinfoplayer">

    <h3>Useritium</h3>
    <p>
      Tout les comptes sur TyroServ sont des compte useritium à fin de pouvoir rendre
      compatible tout les produit proposé par Tyrolium
    </p>

    <div class="pp" [style]=" this.PPUseritium "></div>
    <h4>{{ this.app.userConnected.useritium.username }}</h4>

    <div class="btnUseritium">
      <button class="btn-how">Changer de mots de passe</button>
      <button class="btn-default">Accedez à Useritium</button>
    </div>

  </div>

  <button (click)="viewData()">View</button>




</section>
