#info-panel h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: white;
}

#info-panel h3 {
  font-weight: 600;
}
#info-panel h3.fisth3 {
  margin-bottom: 25px;
}

#info-panel .blockinfoplayer i{
  margin: 10px;
}
#info-panel .blockinfoplayer{
  padding: 40px;
  background-color: #1E2024;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 693px;
  margin: 20px auto;
}

#info-panel .firstBento{
  margin-top: 40px;
  margin-bottom: 35px;
}

#info-panel .blockinfoplayer p {
  margin-bottom: 12px;
}
#info-panel .blockinfoplayer .btn-stat {
  text-transform: capitalize;
  background-color: #525252;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 13px;
  margin: 0;
  font-size: 15px;
}

.pp{
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 14px 0 16px 0;
}

.btnUseritium{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
margin-top: 18px;
}

.profile {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
  display: none;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 10px;
}


.icon-overlay {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile:hover .icon-overlay {
  opacity: 1!important;
}

.profile p {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1341px) {
  .profile {
    display: block;
  }
}
