/* You can add global styles to this file, and also import other style files */


body {
  background-color: #14161B!important;
  color: white;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tyrobutton{
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}
