/* You can add global styles to this file, and also import other style files */


body {
  background-color: #14161B!important;
  color: white;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*************
  BTN GLOBAL
*************/

.tyrobutton{
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

.btn-default i,
.btn-how i{
  margin-left: 5px;
  font-size: 20px;
}

.btn-default,
.btn-how {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #525252;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 12px;
  margin: 10px 0;
}

.btn-how {
  background-color: #0602BC;
}

.btn-how:hover{
  background-color: #1611FF;
}

.btn-default:hover{
  background-color: #6b6969;
}


/*************
  IMG GLOBAL
*************/

.cubeSubtitle{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.subtitle{
  height: 30px;
  margin-top: -35px;
  margin-left: -18px;
  background: linear-gradient(90deg, #000AFF 0%, rgba(0, 0, 0, 0) 81%)
}

.imageUpOmbre{
  z-index: 100;
  position: relative;

  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out;
  will-change: transform;
  animation: moveImage 6s ease-in-out infinite;
}

.imageOmbre{
  margin-top: -35px;

  z-index: 1;
  position: relative;

  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out;
  will-change: transform;
  animation: moveOmbre 6s ease-in-out infinite;
}

@keyframes moveImage {

  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-5%);
  }
  100% {
    transform: translatey(0);
  }

}
@keyframes moveOmbre {

  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }

}
