@if(hideService.isVisible){
<footer id="footer" class="footer-1">
  <div class="head-footer container">
    <div class="head-footer-logo">
      <img src="/TyroServ-Faction.png" alt="logo">
      <div class="titleFooter">
        <div>
          <h3>TyroServ</h3>
          <h4>Minecraft Moddé</h4>
        </div>
      </div>
    </div>
    <div class="head-footer-reseau">
      <ul class="social-icons">
        <!--        <li><a class="facebook" href=""><i class="ri-facebook-circle-fill"></i></a></li>-->
        <li><a target="_blank" class="discord" href="https://discord.gg/km8h5jHezt"><i class="ri-discord-fill"></i></a>
        </li>
        <li><a target="_blank" class="instagram" href="https://www.instagram.com/tyroliumserver/"><i
              class="ri-instagram-line"></i></a></li>
        <li><a target="_blank" class="twitter" href="https://twitter.com/tyrolium"><i class="ri-twitter-x-fill"></i></a>
        </li>
        <li><a target="_blank" class="youtube" href="https://www.youtube.com/@TyroServ"><i
              class="ri-youtube-fill"></i></a></li>
        <li><a target="_blank" class="github" href="https://github.com/tyroserv"><i class="ri-github-fill"></i></a></li>
        <li><a target="_blank" class="tiktok" href="https://www.tiktok.com/@tyroserv"><i class="ri-tiktok-fill"></i></a>
        </li>
        <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/company/tyroserv"><i
              class="ri-linkedin-box-fill"></i></a></li>
        <!--        <li><a class="twitch" href=""><i class="fab fa-twitch footer"></i></a></li>-->
        <!--        <li><a class="gettr" href=""><i class="fas fa-gettr footer"><img src="assets/logo/Gettr.png"></i></a></li>-->
        <!--        <li><a class="telegram" href=""><i class="fab fa-telegram-plane footer"></i></a></li>-->
        <!--        <li><a class="threads" href=""><i class="fab fa-threads footer"><img src="assets/logo/Threads.png"></i></a></li>-->
      </ul>


    </div>

  </div>

  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">à PROPOS<span></span></h5>
            <p id="footer-desc"><span>TyroServ</span>, un serveur <strong>Minecraft moddé</strong> depuis
              <strong>2017</strong>, propose du <strong>PVP-Faction moddés</strong> (actuellement en saison 3) et
              bientôt des <strong>mini-jeux moddés</strong>. <strong>Gratuit</strong> et semi-crack, il offre une
              sécurité renforcée contre les tricheurs grâce à la création de comptes spécifiques.
            </p>
          </div>
        </div>

        <div class="linkBtnDiv col-xs-12 col-sm-6 col-md-2">
          <div class="widget no-box">
            <h5 class="widget-title">PAGE<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a routerLink="">Accueil</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href=".#comment">Jouer</a></div>
              </li>
              <li>
                <div class="thumb-content"><a routerLink="rank">Classements</a></div>
              </li>
              <li>
                <div class="thumb-content"><a routerLink="">Wiki</a></div>
              </li>
              <li>
                <div class="thumb-content"><a routerLink="support">Support</a></div>
              </li>
              <li>
                <div class="thumb-content"><a routerLink="">Boutique</a></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="linkBtnDiv col-xs-12 col-sm-6 col-md-2">
          <div class="widget no-box">
            <h5 class="widget-title">JOUER<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href=".#comment">Comment Jouer ?</a></div>
              </li>
              <li>
                <div class="thumb-content"><a (click)="this.app.downloadLauncher()">Télécharger le Launcher</a></div>
              </li>
              <li>
                <div class="thumb-content"><a routerLink="/panel/">Mon compte</a></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="linkBtnDiv col-xs-12 col-sm-6 col-md-2">
          <div class="widget no-box">
            <h5 class="widget-title">AUTRE LIEN<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a routerLink="cgu">CGU</a></div>
              </li>
              <li>
                <div class="thumb-content"><a routerLink="cgv">CGV</a></div>
              </li>
              <li>
                <div class="thumb-content"><a target="_blank"
                    href="https://stats.uptimerobot.com/7z9o3SEnWX">Serveur</a></div>
              </li>
              <li>
                <div class="thumb-content"><a routerLink="recruiting">Recrutements</a></div>
              </li>
              <li>
                <div class="thumb-content"><a target="_blank" href="https://tyrolium.fr">Tyrolium</a></div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright <a target="_blank" href="https://tyrolium.fr">Tyrolium</a> © 2024. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
}
