<header>

  <div id="titleHeader">

    <h1>TyroServ</h1>
    <h2>Minecraft Moddé</h2>

  </div>

  <div id="titlePage">

    <h1>MON COMPTE</h1>

  </div>

</header>

<section id="panel">

  <div id="sidebarPanel">
    <app-sidebar></app-sidebar>
  </div>

  <div id="contentPanel">
    @if (chooseForm == "/panel" || chooseForm == "/panel/"){
      <app-info></app-info>
    }
    @if (chooseForm == "/panel/skin" || chooseForm == "/panel/skin/"){
      <app-skin></app-skin>
    }
    @if (chooseForm == "/panel/cape" || chooseForm == "/panel/cape/"){
      <app-cape></app-cape>
    }
  </div>

</section>
