
header {
  height: 450px;
  width: 100%;

  position: relative;


  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*titleHeader*/

#titleHeader{
  position: absolute;
  top: 100px;
  right: 210px;
  text-align: end;
}

#titleHeader h1{
  text-transform: uppercase;
  color: white;
  font-size: 54px;
  font-weight: 800;
}

#titleHeader h2{
  color: #1611FF;
  font-size: 21px;
  font-weight: 600;
  margin-top: -22px;
}


/* TITLEPAGE CHOOSE*/

#titlePage{
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
  gap: 35px;

  padding: 70px;
}

#titlePage h1{
  font-weight: 600;
  font-size: 70px;
  margin-bottom: 50px;
  text-transform: uppercase;
}


@media (max-width: 845px) {
  header #titleHeader{
    left: 20px;
    right: unset;
    text-align: start;
  }

  header #titleHeader h2{
    font-size: calc(41px - 10px);
  }
  header #titleHeader h1{
    font-size: calc(74px - 10px);
  }

}


@media (max-width: 700px) {

  header #titlePage h1{
    font-size: 60px;
  }

}


/*************
    PANEL
*************/

#panel{
  display: flex;
  height: 100%;
  margin: 40px 50px;
}

#sidebarPanel{
  width: 500px;
}

#contentPanel{
  width: 100%;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
