<section id="inscriptionform">
    <div class="button-back">
        <button class="btn btn-primary" type="button">
            Revenir
        </button>
    </div>
    <div id="titleHeader" class="d-flex align-items-center">
        <div>
            <h1>TyroServ</h1>
            <h2>Minecraft Moddé</h2>
        </div>
        <img src="/TyroServ-Faction.png" alt="Logo">
    </div>

    <div class="title">
        <h1>INSCRIPTION</h1>
    </div>

    <section id="inscription-card" class="d-flex justify-content-center align-items-center vh-100">

        <div class=" card shadow p-5">
            <h2>Inscription à <span class="text-primary">Useritium</span> <img src="" alt=""></h2>
            <form>
                <div class="form-group mt-4 py-2">
                    <label for="pseudo">Pseudo (Minecraft*)</label>
                    <input type="text" class="form-control" id="pseudo" placeholder="Pseudo">
                </div>
                <div class="form-group py-2">
                    <label for="email">Adresse email</label>
                    <input type="email" class="form-control" id="email" placeholder="Adresse email">
                </div>
                <div class="form-group py-2">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                </div>
                <div class="form-check mb-4 d-flex align-items-center">
                    <input type="checkbox" class="form-check-input" id="ConfirmCondition">
                    <label class="form-check-label" for="ConfirmCondition">Accepter les <a href="#">conditions
                            générales</a></label>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Inscription</button>
                    <button type="button" class="btn btn-secondary">Connexion</button>
                </div>
            </form>
        </div>
    </section>
</section>