<section id="rejoin" class="container">
    <div class="text-rejoin">
        <h2>Vous souhaitez <br>Jouer à <span class="Tyro">TyroServ</span> !</h2>
        <p><span class="Tyro"><strong>TyroServ</strong></span>, un serveur <strong>Minecraft Moddé</strong>
            depuis <strong>2017</strong>, propose du <strong>PVP-Faction moddé</strong> (actuellement en saison 3) et
            bientôt des <strong>mini-jeux moddés</strong>. <strong>Gratuit</strong> et semi-crack, il offre une sécurité
            renforcée contre les tricheurs grâce à la création de comptes spécifiques. </p>
        <div class="btn-rejoin">
            <button id="btn-how" onclick="window.location.href = '.#comment'">Comment jouer ?</button>
            <button id="btn-default" routerLink="/panel/register">Créer un compte <i class="ri-user-3-fill"></i></button>
            <button id="btn-default" (click)="this.app.downloadLauncher()">Télécharger le launcher <i class="ri-windows-fill"></i></button>
        </div>
    </div>
    <div class="img-rejoin">
        <img src="/playing.png" alt="Rejoin" class="img-fluid imageUpOmbre">
        <img src="/ombre-picture.png" alt="Rejoin" class="img-fluid imageOmbre">
    </div>
</section>
